# Healthcare ETL

In [25]:
#Import packages
import pandas as pd

In [32]:
#Load data
#Choose either one of this
admissions=pd.read_csv('https://raw.githubusercontent.com/R-otato/Healthcare-ETL/main/Data/hospital-admissions-and-public-sector-outpatient-attendances-annual.csv')
admissions_by_sector=pd.read_csv('https://raw.githubusercontent.com/R-otato/Healthcare-ETL/main/Data/hospital-admissions-by-sector-annual.csv')

#Two more datasets to pick from

In [33]:
admissions

     year                           level_1    value
0    1984        Acute Hospitals Admissions       na
1    1984  Psychiatric Hospitals Admissions       na
2    1984    Community Hospitals Admissions       na
3    1984     Specialist Outpatient Clinics  1222817
4    1984  Accident & Emergency Departments   469522
..    ...                               ...      ...
291  2020     Specialist Outpatient Clinics  4477097
292  2020  Accident & Emergency Departments   903361
293  2020                       Polyclinics  5992676
294  2020                    Dental Clinics   695921
295  2020                     Day Surgeries       na

[296 rows x 3 columns]

In [34]:
admissions_by_sector

     year                           level_1     level_2   value
0    1984        Acute Hospitals Admissions      Public      na
1    1984        Acute Hospitals Admissions  Non-public      na
2    1984  Psychiatric Hospitals Admissions      Public      na
3    1984  Psychiatric Hospitals Admissions  Non-public      na
4    1984    Community Hospitals Admissions      Public      na
..    ...                               ...         ...     ...
217  2020        Acute Hospitals Admissions  Non-public  111648
218  2020  Psychiatric Hospitals Admissions      Public    8426
219  2020  Psychiatric Hospitals Admissions  Non-public       0
220  2020    Community Hospitals Admissions      Public   11169
221  2020    Community Hospitals Admissions  Non-public    9679

[222 rows x 4 columns]