# Healthcare ETL

In [1]:
#Import packages
import pandas as pd
import numpy as np

In [9]:
#Load data
personnel=pd.read_csv('https://raw.githubusercontent.com/R-otato/Healthcare-ETL/main/Data/healthcareStaff.csv')
beds=pd.read_csv('https://raw.githubusercontent.com/R-otato/Healthcare-ETL/main/Data/beds.csv')
admissions=pd.read_csv('https://raw.githubusercontent.com/R-otato/Healthcare-ETL/main/Data/admission.csv')

In [10]:
personnel

,Data Series,Doctors,Doctors -> Doctors - Public,Doctors -> Doctors - Non-Public,Doctors -> Doctors - Not In Active Practice,Specialists Doctors,Specialists Doctors -> Specialists Doctors - Public,Specialists Doctors -> Specialists Doctors - Non-Public,Specialists Doctors -> Specialists Doctors - Not In Active Practice,Non-Specialists Doctors,...,Speech Therapists,Speech Therapists -> Speech Therapists - Public,Speech Therapists -> Speech Therapists - Non-Public,Speech Therapists -> Speech Therapists - Not In Active Practice,Traditional Chinese Medicine (TCM) Physicians,Traditional Chinese Medicine (TCM) Physicians -> Traditional Chinese Medicine (TCM) Physicians - In Active Practice,Traditional Chinese Medicine (TCM) Physicians -> Traditional Chinese Medicine (TCM) Physicians - Not In Active Practice,Acupuncturists,Acupuncturists -> Acupuncturists - In Active Practice,Acupuncturists -> Acupuncturists - Not In Active Practice
0,2021,15423,9844,4601,978,6431,4267,1776,388,8992,...,778,279,403,96,3069,2236,833,250,115,135
1,2020,14823,9532,4489,802,6088,4052,1718,318,8735,...,727,263,363,101,3017,2200,817,254,117,137
2,2019,14279,9030,4439,810,5881,3864,1682,335,8398,...,686,257,341,88,3045,2284,761,259,124,135
3,2018,13766,8819,4225,722,5615,3741,1565,309,8151,...,642,246,319,77,3004,2234,770,252,134,118
4,2017,13386,8573,4107,706,5338,3523,1528,287,8048,...,595,232,307,56,2952,2243,709,254,139,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,1964,na,426,463,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
58,1963,na,404,394,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
59,1962,na,332,390,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
60,1961,na,308,359,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na
61,1960,na,282,358,na,na,na,na,na,na,...,na,na,na,na,na,na,na,na,na,na

In [11]:
beds

,Date,Public Sector Hospital Admissions,Public Sector Hospital Admissions -> Alexandra Hospital,Public Sector Hospital Admissions -> Changi General Hospital,Public Sector Hospital Admissions -> Khoo Teck Puat Hospital,Public Sector Hospital Admissions -> National University Hospital,Public Sector Hospital Admissions -> Ng Teng Fong General Hospital,Public Sector Hospital Admissions -> Sengkang General Hospital,Public Sector Hospital Admissions -> Singapore General Hospital,Public Sector Hospital Admissions -> Tan Tock Seng Hospital,Public Sector Hospital Admissions -> Communicable Disease Centre,Public Sector Hospital Admissions -> National Centre For Infectious Diseases,Public Sector Hospital Admissions -> Institute Of Mental Health / Woodbridge Hospital,Public Sector Hospital Admissions -> Kandang Kerbau Women's & Children's Hospital,Public Sector Hospital Admissions -> National Heart Centre
0,2022 Nov,36112,956,4382,3657,5671,3382,3857,6237,na,na,na,757,6504,709
1,2022 Oct,37086,817,4515,3547,5855,3588,4116,6394,na,na,na,785,6723,746
2,2022 Sep,37063,858,4456,3617,5812,3593,3907,6482,na,na,na,766,6718,854
3,2022 Aug,37422,908,4495,3786,5754,3772,4180,6348,na,na,na,824,6561,794
4,2022 Jul,43640,754,4495,3609,5929,3784,4170,6518,4923,na,910,832,6862,854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,1987 May,19602,2357,na,na,2032,na,na,5754,3629,na,na,469,2739,na
427,1987 Apr,19797,2348,na,na,2202,na,na,5761,3804,na,na,498,2686,na
428,1987 Mar,22173,2641,na,na,2584,na,na,6447,4128,na,na,518,2892,na
429,1987 Feb,19074,2188,na,na,1862,na,na,5490,4061,na,na,480,2420,na
430,1987 Jan,18822,2345,na,na,1864,na,na,5224,3937,na,na,493,2412,na

In [12]:
admissions

,Date,Acute Hospitals Admissions,Acute Hospitals Admissions -> Public,Acute Hospitals Admissions -> Non-Public,Psychiatric Hospitals Admissions,Psychiatric Hospitals Admissions -> Public,Psychiatric Hospitals Admissions -> Non-Public,Community Hospitals Admissions,Community Hospitals Admissions -> Public,Community Hospitals Admissions -> Non-Public,Specialist Outpatient Clinics,Accident & Emergency Departments,Polyclinics,Dental Clinics,Day Surgeries
0,2022 Nov,44779,35355,9424,757,757,0,1822,1089,733,402798,70786,581319,71184,30892
1,2022 Oct,45897,36301,9596,785,785,0,2194,1433,761,359796,80284,553192,69213,27870
2,2022 Sep,46130,36297,9833,766,766,0,1723,977,746,396506,75561,575688,80233,30772
3,2022 Aug,46190,36598,9592,824,824,0,1918,1200,718,410481,78408,587814,90658,31407
4,2022 Jul,52635,42808,9827,832,832,0,2178,1488,690,432443,96609,553484,82859,34077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,1987 May,na,na,na,na,na,na,na,na,na,101491,35922,219142,84535,na
427,1987 Apr,na,na,na,na,na,na,na,na,na,114022,34127,245888,110739,na
428,1987 Mar,na,na,na,na,na,na,na,na,na,114172,36113,262136,107999,na
429,1987 Feb,na,na,na,na,na,na,na,na,na,105174,34188,254215,122616,na
430,1987 Jan,na,na,na,na,na,na,na,na,na,98721,37771,240542,103784,na